/* ROOT */
*{
    font-family:  sans-serif;
    scrollbar-color: rgb(70, 70, 70) rgb(30, 30, 30);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* LAYOUT */
body{
    display:flex;
    flex-wrap: wrap;
    margin:0;
    height:100vh;
}
header,footer{
    width:100%;
    display:flex;
}
main{
    width:85%;
}
nav{
    display:flex;
}
.navBlock{
    flex:1;
    margin:15px;
}
aside{
    display:flex;
    flex-direction: column;
}
aside section{
    height:50%;
}
aside section h1{
    font-size:x-large;
}
@media screen and (max-width: 1500px) {
    main{
        width:100%;
    }
    nav{
        display:flex;
        flex-direction: column;
        height: 200px;
        overflow:auto;
        margin:1px;
    }
    aside{
        display:none;
    }
}
aside{
    width:15%;
}
/* STYLES */
header{
    height:10vh;
    background-color: rgb(49, 45, 45);
}
header div{
    margin:5px;
    padding:15px;
    background-color: bisque;
    border-radius: 20px;
}
footer{
    height:5vh;
    background-color: rgb(49, 45, 45);
}
main,aside{
    height:85vh;
}
main{
    overflow: auto;
}
nav{
    position:sticky;
    top:0px;
}
h1{
    text-align: center;
}
.navBlock{
    border-radius: 10px;
    background-color: bisque;
}
.navBlock:hover{
    background-color: rgb(235, 155, 58);
}
.navBlock:active{
    background-color: rgba(235, 155, 58, 0.356);
}
.navBlock h1{
    font-size:larger;
}
aside{
    box-sizing: border-box;
    /* border-left: solid 5px rgb(49, 45, 45); */
}
aside h2{
    text-align: center;
}
aside li{
    font-weight: bold;
    font-size: larger;
    color:red;
}

.mainContent{
    overflow:auto;
}

